{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="mb-3 additem">
        <div class="col-md-8 offset-md-2">
            
        <div class="container mt-5">
        <div class="mb-3 review_item">
          <form action="/additem" method="post" enctype="multipart/form-data" novalidate>
            <h1 class="text-center mb-4">Add Review Item</h1>
            <div class="row mb-3">
              <label for="name" class="col-md-3 col-form-label text-center">Name/Place: </label>
              <div class="col-md-8">
                <input type="text" name="name" class="form-control" placeholder="Please enter name or place" required>
              </div>
            </div>
           
           

            <div class="row mb-3">
              <label for="description" class="col-md-3 col-form-label text-center" required>Description:</label>
              <div class="col-12 col-md-8">
                <input type="description" name="description" class="form-control" placeholder="Description">
              </div>
            </div>

            <div class=" row tags mb-3 ">
            <label for="default_tags" class="col-sm-3 col-form-label pt-0">Pick Tags:</label>
           <div class="col-sm-9">
        <div class="d-flex flex-wrap">
            {% for tag in default_tags %}
            <div class="form-check me-2 mb-2 ">
                <input type="checkbox" class="form-check-input" name="default_tags" value="{{ tag.id }}" id="tag_{{ tag.id }}">
                <label class="form-check-label" for="tag_{{ tag.id }}">{{ tag.name }}</label>
            </div>
            {% endfor %}
        </div>
        <div class="tag-input-section mt-3">
            <label for="custom-tags" class="form-label">Add Your Own Tags (comma separated):</label>
            <input type="text"
                   id="custom-tags"
                   name="custom_tags"
                   class="form-control "
                   placeholder="e.g., classroom">
             </div>
          </div>
       </div>

            <div class=" row mb-4">
                <label for="review_picture" class="col-sm-3 col-form-label">Picture</label>
                <div class="col-sm-9">
                <input type="file" class="form-control" name="review_picture" multiple accept="image/*">
                </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
