
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
    </head>

    <body>
      {% extends "base.html" %}
      {% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
     {% endif %}
     {% endwith %}
        <div class="login">
          <form action="/login" method="post">
           <label for="username">Username: </label>
           <input type="text" name="username" placeholder="Please enter username">

           <label for="password">Password:</label>
           <input type="password" name="password" placeholder="Please enter password">

           <br>

          <button type="submit" name="submit">Login</button>
         
        </form>
       </div>
       {% endblock %}
    </body>
</html>