{% extends "base.html" %}
{% block content %}

 <div class="content-section">
    <div class="media">
        <img class="rounded float-start img-thumbnail rounded-circle" src="{{ image_file }}" style="height: 125px; width: 125px;margin-right: 20px;margin-bottom: 16px;">
        <div class="media-body">
            <h2>Username: {{user.username}}  ({{user.identity}})</h2>
            <h2>Email: {{user.email}}</h2>
        </div>
    </div>
 </div>

 <br>
 <div class="EditProfile">
    <form action="/profile/{{user.username}}" method="POST" enctype="multipart/form-data">
       <h1>Update Form</h1>
       <label for="username">Username:</label>
       <input type="text" name="username" placeholder="Username"  value="{{user.username}}" required><br>
 
       
       <label for="password">Password:</label>
       <input type="password" name="password" placeholder="Leave blank to keep current" minlength="8" maxlength="12"><br>
 
       <label for="confirm-password">Confirm Password:</label>
       <input type="password" name="confirm-password" placeholder="Leave blank to keep current"><br>

       <label for="Picture">Upload Picture</label>
       <input type="file" name="profile-picture"> <br>
 
       <button type="submit" name="submit">Update</button>
</form>
</div>
{% endblock %}