
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset Password</title>
    </head>

    <body>
      {% extends "base.html" %}
      {% block content %}
      <div class="container mt-5">
        <div class="mb-3 login">
          <form action="/request_reset" method="post">
            <h1 class="text-center mb-4">Please enter email:</h1>
            <div class="row mb-3">
              <label for="request_email" class="col-md-4 col-form-label text-center">Email: </label>
              <div class="col-md-6">
                <input type="email" name="request_email" class="form-control" placeholder="Email">
              </div>
            </div>
           
            <div class="row mb-3">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
       {% endblock %}
    </body>
</html>